<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">

</head>
<body>
    <%- include('_header') %>
    <div id="main-profile">
    <h1><%=profile_user.username %> Profile</h1>

    <% if(profile_user.id==locals.user.id){%>
        <form action="update/<%=profile_user._id %>" method="post">
            <label for="name">Update username</label>
            <input type="text" name="username" value="<%=profile_user.username %>">
            <label for="email">Update Email</label>
            <input type="email" name="email" value="<%= profile_user.email %>">
            <input type="submit" value="Update">
        </form>
    <%} else{ %>
        <p><%=profile_user.email%></p>
    <%} %>
    </div> 



    <%- include('footer')%>
</body>
</html>